/****** Classified Page Css ******/

.classifiedSec {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
}

.adBlock {
    margin: 20px;
    border-radius: 10px;
    position: relative;
    background: #fff;
    overflow: hidden;
}

.adBlock:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.4);
}

.adDesc {
    position: absolute;
    bottom: 0px;
    color: #fff;
    padding: 15px;
}

.adDesc>.adTitle {
    font-size: 21px;
}

.adDesc>.adSize {
    font-size: 27px;
}

.adSearchBox {
    position: relative;
}

input.adSearchField {
    width: 390px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    border: none;
    padding: 0px 45px 0px 15px;
    font-family: inherit;
    font-size: 14px;
}

.searchIcon {
    position: absolute;
    right: 15px;
    font-size: 20px;
    top: 0px;
    bottom: 0px;
    line-height: 50px;
    text-align: center;
    color: #024B99;
    font-weight: normal;
}

img.adImg {
    width: 100%;
    height: 100%;
}

.adBlock3 {
    grid-row: 1/1;
    grid-column: 3/5;
}

.adBlock4 {
    grid-row: 2/4;
}

.adBlock5 {
    grid-row: 2/4;
    grid-column: 2/4;
}