body{
	margin:0px;
	padding:0px;
	background: #EDF2F8 0% 0% no-repeat padding-box;
	font-family: 'Lato', sans-serif;
}
.flexIB{
	display:inline-flex;
}
.flexRow{
	display:flex;
	flex-flow:row;
}
.flexColumn{
	display:flex;
	flex-flow:column;
}
.evenSpace{
	justify-content:space-between;
}
.vaCenter{
	vertical-align:middle;
	align-items:center;
}
.haCenter{
	text-align:center;
	justify-content:center;
}
/****** Login Page CSS*******/
.body{
	display: table;
    position: absolute;
    width: 100%;
    height: 100%;
	left: 0px;
    right: 0px;
    top: 0px;
	bottom: 0px;
	overflow:auto;
}

.frgtPasswordOuter{
    position: relative;
    display:table-cell;
    width: 100%;
    height: 100%;
	background: #BB4D9A;	
}
.loginBox {
    width: 100%;
    padding: 20px;
    max-width: 320px;
	margin:auto
}
.formTitle{
	text-align: center;
    font: 26px/30px Lato;
    letter-spacing: 0;
    color: #FFFFFF;
    margin-bottom: 30px;
    display: block;
}
.formTitle > span{
	display:block;
	text-align: center;
	font: Bold 16px/22px Lato;
	letter-spacing: 0;
	color: #FFFFFF;
    vertical-align:middle;
    margin-top: 10px;
}
.fieldContainer{
	padding:3px;
	margin-top:35px;
}
.fieldContainer > label{
	text-align: left;
    font: 16px/26px Lato;
    letter-spacing: 0;
    color: #fff;
    display: block;
    margin-bottom: 6px;
}
.field{
	padding: 0px 15px;
    height: 50px;
    background: rgba(0,0,0,0.25) 0% 0% no-repeat padding-box;
	border-radius: 10px;
    border: none;
    outline: none;
    line-height: 50px;
    width: 100%;
    text-align: left;
    font: 16px/28px Lato;
    letter-spacing: 0;
    color: #8D8D8D;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	
}
.frmFooter{
	justify-content:space-between;
	align-items:flex-start;
	margin-top:35px;
}
button.submitBtn {
    width: 140px;
    height: 50px;
    margin: 20px 0px 10px 0px;
}

.margTB{
	margin:10px;
}
.tLeft{
	text-align:left;
}
input.error,textarea.error{
	border:2px solid #f00;
}