.secNameCommunities {
    text-align: left;
    font: Bold 40px/34px Lato;
    letter-spacing: 0;
    color: #BB4D9A;
}

.secDescCommunities {
    text-align: left;
    font: 26px/30px Lato;
    letter-spacing: 0;
    color: #BB4D9A;
    opacity: 1;
    display: block;
    margin-top: 10px;
}